.table > thead {
    background-color: #19605b;
    color: white;
}

.table > tbody > tr {
    background-color: rgb(255, 255, 255);
    color: black;

}

h3, .h3 {
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 10px
}