<body ng-app="myApp">
  <div class="jumbotron text-center">
    <h1>Visualizador de trafico de red</h1>
    <p>Recopila informacion de interes para el administrador de red.</p>
  </div>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link">
                <span data-feather="home"></span>
                Pagina Principal <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <span data-feather="file"></span>
                Tablas por Tema
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <span data-feather="shopping-cart"></span>
                Grafico
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <span data-feather="users"></span>
                Grafico Circular
              </a>
            </li>
          </ul>

        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <app-tabla-general [tablaGeneral]=tablaGeneral></app-tabla-general>
      </main>
       <!-- <router-outlet></router-outlet> -->

      
    </div>
  </div>
</body>
